<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=GBK">
</head>
<body>{"status":1,"msg":"","forward":"","data":"
<div class="\&quot;dialog-passport\&quot;">\n\t
    <div class="\&quot;dialog-head\&quot;">\n\t\t<span class="\&quot;title\&quot;">\n\t\t\t\u767b\u5f55\n\t\t&lt;\/span&gt;\n\t\t<a
            href="http://www.luoo.net/%22javascript:;/%22" rel="\&quot;nofollow\&quot;" class="\&quot;ln-reg"
            btn-dialog-register\"="" data-tipid="\&quot;registerDialog\&quot;" data-remote="\&quot;http:\/\/www.luoo.net\/register\/dialog\&quot;" data-width="\&quot;235\&quot;">\n\t\t\t\u6ce8\u518c\n\t\t&lt;\/a&gt;\n\t\t<span
            class="\&quot;fright\&quot;">\u6ca1\u6709\u8d26\u53f7\uff1f&lt;\/span&gt;\n\t&lt;\/div&gt;\n\t</span></a>
        <form class="\&quot;form-ajax\&quot;" action="http://www.luoo.net/%22http:////www.luoo.net//login///%22"
              callback="\&quot;login_cback\&quot;"><a href="http://www.luoo.net/%22javascript:;/%22"
                                                      rel="\&quot;nofollow\&quot;" class="\&quot;ln-reg"
                                                      btn-dialog-register\"="" data-tipid="\&quot;registerDialog\&quot;"
            data-remote="\&quot;http:\/\/www.luoo.net\/register\/dialog\&quot;"
            data-width="\&quot;235\&quot;">\n\t\t</a>
            <div class="\&quot;inline-input\&quot;"><a href="http://www.luoo.net/%22javascript:;/%22"
                                                       rel="\&quot;nofollow\&quot;" class="\&quot;ln-reg"
                                                       btn-dialog-register\"="" data-tipid="\&quot;registerDialog\&quot;"
                data-remote="\&quot;http:\/\/www.luoo.net\/register\/dialog\&quot;" data-width="\&quot;235\&quot;">\n\t\t\t<span
                        class="\&quot;label\&quot;">\u90ae\u7bb1&lt;\/span&gt;\n\t\t\t<input type="\&quot;text\&quot;"
                                                                                             class="\&quot;input-passport\&quot;"
                                                                                             name="\&quot;name\&quot;"
                                                                                             required="">\n\t\t&lt;\/div&gt;\n\t\t</span></a>
                <div class="\&quot;inline-input\&quot;"><a href="http://www.luoo.net/%22javascript:;/%22"
                                                           rel="\&quot;nofollow\&quot;" class="\&quot;ln-reg"
                                                           btn-dialog-register\"="" data-tipid="\&quot;registerDialog\&quot;"
                    data-remote="\&quot;http:\/\/www.luoo.net\/register\/dialog\&quot;" data-width="\&quot;235\&quot;">\n\t\t\t<span
                            class="\&quot;label\&quot;">\u5bc6\u7801&lt;\/span&gt;\n\t\t\t<input
                            type="\&quot;password\&quot;" class="\&quot;input-passport\&quot;"
                            name="\&quot;password\&quot;" required="">\n\t\t&lt;\/div&gt;\n\t\t</span></a>
                    <div class="\&quot;btn-wrapper\&quot;"><a href="http://www.luoo.net/%22javascript:;/%22"
                                                              rel="\&quot;nofollow\&quot;" class="\&quot;ln-reg"
                                                              btn-dialog-register\"="" data-tipid="\&quot;registerDialog\&quot;"
                        data-remote="\&quot;http:\/\/www.luoo.net\/register\/dialog\&quot;" data-width="\&quot;235\&quot;">\n\t\t\t</a>
                        <a href="http://www.luoo.net/%22javascript:;/%22" class="\&quot;btn" btn-positive=""
                           btn-login-submit="" rounded\"="" rel="\&quot;nofollow\&quot;">\n\t\t\t\t\u767b\u5f55\n\t\t\t&lt;\/a&gt;\n\t\t\t<span
                                class="\&quot;btn" btn-positive="" btn-login-msg="" rounded\"="" style="\&quot;display:none;\&quot;">\n\t\t\t\t\u63d0\u793a\n\t\t\t&lt;\/span&gt;\n\t\t&lt;\/div&gt;\n\t\t</span></a>
        <div class="\&quot;clearfix\&quot;"><a href="http://www.luoo.net/%22javascript:;/%22" class="\&quot;btn"
                                               btn-positive="" btn-login-submit="" rounded\"="" rel="\&quot;nofollow\&quot;">\n\t\t\t<label><input
                type="\&quot;checkbox\&quot;" name="\&quot;remember\&quot;" \=""> \u4e0b\u6b21\u81ea\u52a8\u767b\u5f55&lt;\/label&gt;\n\t\t\t</label></a>
            <a href="http://www.luoo.net/%22http:////www.luoo.net//login//forgot/%22" rel="\&quot;nofollow\&quot;"
               class="\&quot;ln-resetpwd\&quot;">\u627e\u56de\u5bc6\u7801&lt;\/a&gt;\n\t\t&lt;\/div&gt;\n\t&lt;\/form&gt;\n&lt;\/div&gt;\n</a>

            <div class="\&quot;dialog-login-oauth\&quot;"><a
                    href="http://www.luoo.net/%22http:////www.luoo.net//login//forgot/%22" rel="\&quot;nofollow\&quot;"
                    class="\&quot;ln-resetpwd\&quot;">\n\t</a>

                <div class="\&quot;platforms\&quot;"><a
                        href="http://www.luoo.net/%22http:////www.luoo.net//login//forgot/%22"
                        rel="\&quot;nofollow\&quot;" class="\&quot;ln-resetpwd\&quot;">\n\t\t</a><a
                        href="http://www.luoo.net/%22http:////www.luoo.net//login//oauth//site//weibo/%22"
                        class="\&quot;icon-open-weibo\&quot;" rel="\&quot;nofollow\&quot;">&lt;\/a&gt;\n\t\t</a><a
                        href="http://www.luoo.net/%22http:////www.luoo.net//login//oauth//site//douban/%22"
                        class="\&quot;icon-open-douban\&quot;"
                        rel="\&quot;nofollow\&quot;">\n\t\t&lt;\/a&gt;\n\t\t</a><a
                        href="http://www.luoo.net/%22http:////www.luoo.net//login//oauth//site//qq/%22"
                        class="\&quot;icon-open-qq\&quot;" rel="\&quot;nofollow\&quot;">&lt;\/a&gt;\n\t&lt;\/div&gt;\n&lt;\/div&gt;"}</a>
                </div>
            </div>
        </div>
    </div>
</div>
</div></form></span></div></div></body>
</html>