<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta property="qc:admins" content="4553322067645776654">
    <meta name="baidu-site-verification" content="xC1m9aYTgX">
    <meta name="description" content="">
    <meta name="keywords" content="">
    <link rel="stylesheet" href="/stylesheets/index.css">
    <script type="text/javascript" src="/javascripts/jquery-1.12.1.min.js"></script>
    <script type="text/javascript" src="/javascripts/evercookie-master/js/swfobject-2.2.min.js"></script>
    <script type="text/javascript" src="/javascripts/evercookie-master/js/evercookie.js"></script>
    <title><%=title%></title>
</head>
<body>
<!-- header start -->
<div class="header">
    <div class="header-ct">
        <a href="" class="logo">
            <span class="icon-logo"></span>
        </a>

        <div class="nav">
            <ul class="clearfix">
                <li><a href="">期刊</a></li>
                <li><a href="">单曲</a></li>
                <li><a href="">专栏</a></li>
                <li><a href="">活动</a></li>
                <li><a href="">APP</a></li>
            </ul>

        </div>

        <div class="head-search">
            <form class="search-form" action="" id="headSearchForm">
                <input type="text" class="search-input" name="q" autocomplete="off">
                <button class="search-btn" type="submit">
                    <span class="icon-search"></span>
                </button>
            </form>
        </div>
        <!-- logged-in-wrapper -->
        <div class="logged-in-wrapper" id="loggedInWrapper" style="display: none;"></div>
        <!-- logged-in-wrapper end-->

        <div class="logged-out-wrapper" id="loggedOutWrapper" data-remote="./dialog.html"
             data-tipid="headLoginDialog" data-width="235" data-show="mouseenter" data-adjusty="-12"
             style="display: block;" data-hasqtip="3" aria-describedby="qtip-3">
            <a href="javascript:;" rel="nofollow" class="ln-top-login"> 注册/登录 </a>

        </div>
        <!-- logged-out-wrapper -->
    </div>
</div>


<div class="WB_face W_fl">
    <div class="face">
        <a target="_blank" class="W_face_radius"
           suda-uatrack=""
           href="" title=""><img
                usercard="" title="" alt="" width="50" height="50"
                class="W_face_radius" src="/images/1"></a>
    </div>
    <div class="opt" node-type="widget_followBtnBox"
         action-data="">
        <a class="W_btn_b btn_22px" href="javascript:;" action-type="follow"><em
                class="W_ficon ficon_add S_ficon">+</em>关注</a></div>
</div>

<div class="WB_detail">
    <div class="WB_info"><a target="_blank" class="W_f14 W_fb S_txt1" nick-name="" title=""
                            suda-uatrack=""
                            href=""
                            usercard="">
        First Blood</a><a target="_blank" href=""><i title="" class="W_icon icon_approve"></i></a><a
            title="微博会员" target="_blank" href="" action-type="ignore_list"
            suda-uatrack=""><em class="W_icon icon_member6"></em></a></div>
    <div class="WB_text W_f14" node-type="feed_list_content"><a target="_blank" render="ext"
                                                                suda-uatrack="key=topic_click&amp;value=click_topic"
                                                                class="a_topic" extra-data="type=topic"
                                                                href="http://huati.weibo.com/k/%E6%8E%A2%E5%9F%8E%E8%AE%B0?from=501">#探城记#</a>
        CBD最超值的商务午餐。虽然在五星酒店里，但是一分钱服务费都不要。就在国贸<a target="_blank" render="ext" extra-data="type=atname"
                                                href="http://weibo.com/n/%E5%8C%97%E4%BA%AC%E5%98%89%E9%87%8C%E5%A4%A7%E9%85%92%E5%BA%97?from=feed&amp;loc=at"
                                                usercard="name=北京嘉里大酒店">@北京嘉里大酒店</a>
        一酒香红酒吧。没错，就是冯唐《搜神记》最新一期“侍酒师”的拍摄场地，中国王牌侍酒师吕杨的大本营。98块钱两道，还含咖啡和茶。是不是很划算<img render="ext"
                                                                                 src="/images/tootha_org.gif"
                                                                                 title="[嘻嘻]" alt="[嘻嘻]" type="face"
                                                                                 style="visibility: visible;"><a
                target="_blank" render="ext" extra-data="type=atname"
                href="http://weibo.com/n/%E9%B2%9C%E5%9F%8E%E5%8C%97%E4%BA%AC?from=feed&amp;loc=at"
                usercard="name=鲜城北京">@鲜城北京</a> <a target="_blank" render="ext"
                                                  suda-uatrack="key=topic_click&amp;value=click_topic" class="a_topic"
                                                  extra-data="type=topic"
                                                  href="http://huati.weibo.com/k/%E6%8E%A2%E5%BA%97%E7%AC%94%E8%AE%B0?from=501">#探店笔记#</a>
        <a suda-uatrack="key=tblog_card&amp;value=click_title:3953253789635815:1022-article:1022%3A230724930_1_1644207680_32875_1458012123064:page_102803_ctg1_2688_-_ctg1_2688_home:1644207680:3953253789635815:1644207680"
           title="CBD最超值的商务午餐" href="http://t.cn/RG1Qo45" action-type="feed_list_url" target="_blank"><i
                class="W_ficon ficon_cd_artical"></i>CBD最超值的商务午餐</a></div>
    <!-- 引用文件时，必须对midia_info赋值 -->
    <!-- 微博心情，独立于标准的ul节点 -->
    <div class="WB_media_wrap clearfix" node-type="feed_list_media_prev">
        <div class="media_box">
            <!-- img之间不能加空格 -->
            <!-- 九宫格 -->
            <div node-type="fl_pic_list"
                 action-data="uid=1644207680&amp;pic_ids=62009e40jw1f1xdzkipimj20zk0qotet,62009e40jw1f1xdzr6d9lj20zl0qoqa1,62009e40jw1f1xdzvz00aj20zk0qodns,62009e40jw1f1xe01ffp7j20zk0qon3p,62009e40jw1f1xe04ne0ej20zk0qodn9,62009e40jw1f1xe0cb0boj20zk0qndm6,62009e40jw1f1xe0gkhssj20zk0qn139,62009e40jw1f1xe0k071jj20zk0qown9,62009e40jw1f1xe0pva5ej20zl0qpqep&amp;mid=3953253789635815&amp;pic_objects=&amp;object_ids=1042018%3A7ff9d5eeab2c3e162e1a78002790b085%2C1042018%3Ad61fe9a7e4877a00555c76e5c321b006%2C1042018%3A362c96e47af829af0a871b95f0bd467c%2C1042018%3Ab0641714dad5c9081e5b4778804e0e56%2C1042018%3A8eb56b155e42e436655a4fa32fd6dd60%2C1042018%3Abba440246ff9b61e12691fa149d1fdcd%2C1042018%3A2471c9a5d3f28d8b879cbb135289d83d%2C1042018%3Add38eeaa57863233a11b232b61f1495d%2C1042018%3A428784459a919086c82dbca9608f2bd7&amp;photo_tag_pids=&amp;photo_filter_ids=,,,,,,,,">
                <ul class="WB_media_a WB_media_a_mn  WB_media_a_m9 clearfix">
                    <li class="WB_pic S_bg1 bigcursor"><img
                            src="/images/62009e40jw1f1xdzkipimj20zk0qotet.jpg"
                            action-data="pic_id=62009e40jw1f1xdzkipimj20zk0qotet" action-type="fl_pics"
                            suda-uatrack="key=tblog_newimage_feed&amp;value=image_feed_unfold:3953253789635815:62009e40jw1f1xdzkipimj20zk0qotet">
                    </li>
                    <li class="WB_pic S_bg1 bigcursor"><img
                            src="/images/62009e40jw1f1xdzr6d9lj20zl0qoqa1.jpg"
                            action-data="pic_id=62009e40jw1f1xdzr6d9lj20zl0qoqa1" action-type="fl_pics"
                            suda-uatrack="key=tblog_newimage_feed&amp;value=image_feed_unfold:3953253789635815:62009e40jw1f1xdzr6d9lj20zl0qoqa1">
                    </li>
                    <li class="WB_pic S_bg1 bigcursor"><img
                            src="/images/62009e40jw1f1xdzvz00aj20zk0qodns.jpg"
                            action-data="pic_id=62009e40jw1f1xdzvz00aj20zk0qodns" action-type="fl_pics"
                            suda-uatrack="key=tblog_newimage_feed&amp;value=image_feed_unfold:3953253789635815:62009e40jw1f1xdzvz00aj20zk0qodns">
                    </li>
                    <li class="WB_pic S_bg1 bigcursor"><img
                            src="/images/62009e40jw1f1xe01ffp7j20zk0qon3p.jpg"
                            action-data="pic_id=62009e40jw1f1xe01ffp7j20zk0qon3p" action-type="fl_pics"
                            suda-uatrack="key=tblog_newimage_feed&amp;value=image_feed_unfold:3953253789635815:62009e40jw1f1xe01ffp7j20zk0qon3p">
                    </li>
                    <li class="WB_pic S_bg1 bigcursor"><img
                            src="/images/62009e40jw1f1xe04ne0ej20zk0qodn9.jpg"
                            action-data="pic_id=62009e40jw1f1xe04ne0ej20zk0qodn9" action-type="fl_pics"
                            suda-uatrack="key=tblog_newimage_feed&amp;value=image_feed_unfold:3953253789635815:62009e40jw1f1xe04ne0ej20zk0qodn9">
                    </li>
                    <li class="WB_pic S_bg1 bigcursor"><img
                            src="/images/62009e40jw1f1xe0cb0boj20zk0qndm6.jpg"
                            action-data="pic_id=62009e40jw1f1xe0cb0boj20zk0qndm6" action-type="fl_pics"
                            suda-uatrack="key=tblog_newimage_feed&amp;value=image_feed_unfold:3953253789635815:62009e40jw1f1xe0cb0boj20zk0qndm6">
                    </li>
                    <li class="WB_pic S_bg1 bigcursor"><img
                            src="/images/62009e40jw1f1xe0gkhssj20zk0qn139.jpg"
                            action-data="pic_id=62009e40jw1f1xe0gkhssj20zk0qn139" action-type="fl_pics"
                            suda-uatrack="key=tblog_newimage_feed&amp;value=image_feed_unfold:3953253789635815:62009e40jw1f1xe0gkhssj20zk0qn139">
                    </li>
                    <li class="WB_pic S_bg1 bigcursor"><img
                            src="/images/62009e40jw1f1xe0k071jj20zk0qown9.jpg"
                            action-data="pic_id=62009e40jw1f1xe0k071jj20zk0qown9" action-type="fl_pics"
                            suda-uatrack="key=tblog_newimage_feed&amp;value=image_feed_unfold:3953253789635815:62009e40jw1f1xe0k071jj20zk0qown9">
                    </li>
                    <li class="WB_pic S_bg1 bigcursor"><img
                            src="/images/62009e40jw1f1xe0pva5ej20zl0qpqep.jpg"
                            action-data="pic_id=62009e40jw1f1xe0pva5ej20zl0qpqep" action-type="fl_pics"
                            suda-uatrack="key=tblog_newimage_feed&amp;value=image_feed_unfold:3953253789635815:62009e40jw1f1xe0pva5ej20zl0qpqep">
                    </li>
                </ul>
            </div>
            <!-- /九宫格 -->
        </div>
    </div>

    <div class="WB_expand_media_box" style="display: none;" node-type="feed_list_media_disp"></div>
    <div class="WB_from S_txt2">
        <a target="_blank" href="http://weibo.com/1644207680/DmlncEqIn" title="2016-03-15 11:30" date="1458012615000"
           name="3953253789635815" class="S_txt2" node-type="feed_list_item_date"
           suda-data="key=tblog_home_new&amp;value=feed_time:3953253789635815"> 今天 11:30</a>
        来自 <a class="S_txt2" target="_blank" href="http://vip.weibo.com/prividesc?priv=1006&amp;from=feed">
        👉iPhone 5s </a></div>

    <div class="WB_handle">
        <ul class="WB_row_line WB_row_r4 clearfix S_line2">
            <li><a class="S_txt2" target="_blank" href="http://vip.weibo.com/prividesc?priv=1006&amp;from=feed">
            </a><a class="S_txt2" suda-data="key=smart_feed&amp;value=time_sort_collect" href="javascript:void(0);"
                   diss-data="fuid=1644207680" action-type="login"><span class="pos"><span
                    class="line S_line1" style="border-left-width: 0">收藏</span></span></a>
            </li>
            <li>
                <a action-type="login" href="javascript:void(0);"
                   suda-uatrack="key=aggregate_page_feed&amp;value=transmit:3953253789635815" class="S_txt2"><span
                        class="pos"><span class="line S_line1" node-type="forward_btn_text">转发 41</span></span></a>
            </li>
            <li>
                <a suda-data="key=smart_feed&amp;value=time_sort_comm:3953253789635815" href="javascript:void(0);"
                   class="S_txt2" action-type="login"
                   action-data="ouid=1644207680&amp;location=page_102803_ctg1_2688_-_ctg1_2688_home"><span
                        class="pos"><span class="line S_line1" node-type="comment_btn_text">评论 17</span></span></a>
                <span class="arrow"><span class="W_arrow_bor W_arrow_bor_t"><i class="S_line1"></i><em
                        class="S_bg1_br"></em></span></span>
            </li>
            <li>
                <a href="javascript:void(0);" class="S_txt2" action-type="login"
                   action-data="version=mini&amp;qid=heart&amp;mid=3953253789635815&amp;loc=profile" title="赞"><span
                        class="pos"><span class="line S_line1"><span action-type="login"><i
                        class="W_icon icon_praised_b"></i> <em>100</em></span></span></span></a>
            </li>
        </ul>
    </div>
</div>

<div class="WB_face W_fl">
    <div class="face">
        <a target="_blank" class="W_face_radius"
           suda-uatrack=""
           href="" title=""><img
                usercard="" title="" alt="" width="50" height="50"
                class="W_face_radius" src="/images/2"></a>
    </div>
    <div class="opt" node-type="widget_followBtnBox"
         action-data="">
        <a class="W_btn_b btn_22px" href="javascript:;" action-type="follow"><em
                class="W_ficon ficon_add S_ficon">+</em>关注</a></div>
</div>

<div class="WB_detail">
    <div class="WB_info"><a target="_blank" class="W_f14 W_fb S_txt1" nick-name="" title=""
                            suda-uatrack=""
                            href=""
                            usercard="">
        Double Kill</a><a target="_blank" href=""><i title="" class="W_icon icon_approve"></i></a><a
            title="微博会员" target="_blank" href="" action-type="ignore_list"
            suda-uatrack=""><em class="W_icon icon_member6"></em></a></div>
    <div class="WB_text W_f14" node-type="feed_list_content">
        听说这哥们撞的他爸………玩车一定要在没人的地方玩，大马路上装逼搞毛线啊！<a class="a_topic W_linkb"
                                               href="http://huati.weibo.com/k/HPIbaja?from=526"
                                               suda-data="key=tblog_search_weibo&amp;value=weibo_nologin_topic"
                                               target="_blank">#<em class="red">HPIbaja</em>#</a><a
            class="a_topic W_linkb"
            href="http://huati.weibo.com/k/%E6%B2%B9%E5%8A%A8%E9%81%A5%E6%8E%A7%E8%BD%A6?from=526"
            suda-data="key=tblog_search_weibo&amp;value=weibo_nologin_topic" target="_blank">#油动遥控车#</a><a
            class="a_topic W_linkb" href="http://huati.weibo.com/k/%E9%81%A5%E6%8E%A7%E8%BD%A6?from=526"
            suda-data="key=tblog_search_weibo&amp;value=weibo_nologin_topic" target="_blank">#遥控车#</a>
    </div>
    <!-- 引用文件时，必须对midia_info赋值 -->
    <!-- 微博心情，独立于标准的ul节点 -->
    <div class="WB_media_wrap clearfix" node-type="feed_list_media_prev">
        <div class="media_box">
            <!-- img之间不能加空格 -->
            <!-- 九宫格 -->
            <div node-type="fl_pic_list"
                 action-data="uid=1644207680&amp;pic_ids=62009e40jw1f1xdzkipimj20zk0qotet,62009e40jw1f1xdzr6d9lj20zl0qoqa1,62009e40jw1f1xdzvz00aj20zk0qodns,62009e40jw1f1xe01ffp7j20zk0qon3p,62009e40jw1f1xe04ne0ej20zk0qodn9,62009e40jw1f1xe0cb0boj20zk0qndm6,62009e40jw1f1xe0gkhssj20zk0qn139,62009e40jw1f1xe0k071jj20zk0qown9,62009e40jw1f1xe0pva5ej20zl0qpqep&amp;mid=3953253789635815&amp;pic_objects=&amp;object_ids=1042018%3A7ff9d5eeab2c3e162e1a78002790b085%2C1042018%3Ad61fe9a7e4877a00555c76e5c321b006%2C1042018%3A362c96e47af829af0a871b95f0bd467c%2C1042018%3Ab0641714dad5c9081e5b4778804e0e56%2C1042018%3A8eb56b155e42e436655a4fa32fd6dd60%2C1042018%3Abba440246ff9b61e12691fa149d1fdcd%2C1042018%3A2471c9a5d3f28d8b879cbb135289d83d%2C1042018%3Add38eeaa57863233a11b232b61f1495d%2C1042018%3A428784459a919086c82dbca9608f2bd7&amp;photo_tag_pids=&amp;photo_filter_ids=,,,,,,,,">
                <ul class="WB_media_a WB_media_a_mn  WB_media_a_m9 clearfix">
                    <li class="WB_pic S_bg1 bigcursor"><img class="" src="/images/006i2Xshjw1f1npkz036lj30qo1bgjw0.jpg"
                                                            action-data="pic_id=006i2Xshjw1f1npkz036lj30qo1bgjw0"
                                                            action-type="fl_pics"
                                                            suda-data="key=tblog_search_weibo&amp;value=weibo_h_1_pic">
                    </li>
                    <li class="WB_pic S_bg1 bigcursor"><img class="" src="/images/006i2Xshjw1f1npl3qyynj30qo1bg0x7.jpg"
                                                            action-data="pic_id=006i2Xshjw1f1npl3qyynj30qo1bg0x7"
                                                            action-type="fl_pics"
                                                            suda-data="key=tblog_search_weibo&amp;value=weibo_h_1_pic">
                    </li>
                    <li class="WB_pic S_bg1 bigcursor"><img class="" src="/images/006i2Xshjw1f1npl7vlkhj30qo1bgq7t.jpg"
                                                            action-data="pic_id=006i2Xshjw1f1npl7vlkhj30qo1bgq7t"
                                                            action-type="fl_pics"
                                                            suda-data="key=tblog_search_weibo&amp;value=weibo_h_1_pic">
                    </li>
                    <li class="WB_pic S_bg1 bigcursor"><img class="" src="/images/006i2Xshjw1f1npld95loj30hs0vk0v1.jpg"
                                                            action-data="pic_id=006i2Xshjw1f1npld95loj30hs0vk0v1"
                                                            action-type="fl_pics"
                                                            suda-data="key=tblog_search_weibo&amp;value=weibo_h_1_pic">
                    </li>
                    <li class="WB_pic S_bg1 bigcursor"><img class="" src="/images/006i2Xshjw1f1npkw6su3j30f00qota3.jpg"
                                                            action-data="pic_id=006i2Xshjw1f1npkw6su3j30f00qota3"
                                                            action-type="fl_pics"
                                                            suda-data="key=tblog_search_weibo&amp;value=weibo_h_1_pic">
                    </li>
                    <li class="WB_pic S_bg1 bigcursor"><img class="" src="/images/006i2Xshjw1f1nplfnnwuj30dc0a00ta.jpg"
                                                            action-data="pic_id=006i2Xshjw1f1nplfnnwuj30dc0a00ta"
                                                            action-type="fl_pics"
                                                            suda-data="key=tblog_search_weibo&amp;value=weibo_h_1_pic">
                    </li>
                </ul>
            </div>
            <!-- /九宫格 -->
        </div>
    </div>

    <div class="WB_expand_media_box" style="display: none;" node-type="feed_list_media_disp"></div>
    <div class="WB_from S_txt2">
        <a target="_blank" href="http://weibo.com/1644207680/DmlncEqIn" title="2016-03-15 11:30" date="1458012615000"
           name="3953253789635815" class="S_txt2" node-type="feed_list_item_date"
           suda-data="key=tblog_home_new&amp;value=feed_time:3953253789635815"> 3月7日02:34</a>
        来自 <a class="S_txt2" target="_blank" href="http://vip.weibo.com/prividesc?priv=1006&amp;from=feed">
        👉iPhone 6 Plus </a></div>

    <div class="WB_handle">
        <ul class="WB_row_line WB_row_r4 clearfix S_line2">
            <li><a class="S_txt2" target="_blank" href="http://vip.weibo.com/prividesc?priv=1006&amp;from=feed">
            </a><a class="S_txt2" suda-data="key=smart_feed&amp;value=time_sort_collect" href="javascript:void(0);"
                   diss-data="fuid=1644207680" action-type="login"><span class="pos"><span
                    class="line S_line1" style="border-left-width: 0">收藏</span></span></a>
            </li>
            <li>
                <a action-type="login" href="javascript:void(0);"
                   suda-uatrack="key=aggregate_page_feed&amp;value=transmit:3953253789635815" class="S_txt2"><span
                        class="pos"><span class="line S_line1" node-type="forward_btn_text">转发 41</span></span></a>
            </li>
            <li>
                <a suda-data="key=smart_feed&amp;value=time_sort_comm:3953253789635815" href="javascript:void(0);"
                   class="S_txt2" action-type="login"
                   action-data="ouid=1644207680&amp;location=page_102803_ctg1_2688_-_ctg1_2688_home"><span
                        class="pos"><span class="line S_line1" node-type="comment_btn_text">评论 17</span></span></a>
                <span class="arrow"><span class="W_arrow_bor W_arrow_bor_t"><i class="S_line1"></i><em
                        class="S_bg1_br"></em></span></span>
            </li>
            <li>
                <a href="javascript:void(0);" class="S_txt2" action-type="login"
                   action-data="version=mini&amp;qid=heart&amp;mid=3953253789635815&amp;loc=profile" title="赞"><span
                        class="pos"><span class="line S_line1"><span action-type="login"><i
                        class="W_icon icon_praised_b"></i> <em>100</em></span></span></span></a>
            </li>
        </ul>
    </div>
</div>

</body>